# Dependencies
node_modules/
backend/venv/
backend/env/

# Next.js build
frontend/.next/
frontend/out/

# Python cache
__pycache__/
*.py[cod]

# Database & Uploads
backend/*.db
backend/uploads/

# OS files
.DS_Store
Thumbs.db

# Env files
.env
.env.local
